body{
	background: #f9f3ec;
	border: 30px;
}
.list {
	margin: 20px;
	padding: 10px;
	font-family: Serif;
	text-align: center;
}
.li
{
	margin: 20px;
	padding: 10px;
	font-family: Serif;
	text-align: center;
}
.h1{
	color: #6e9086;
	font-family: Medium Italic;
	text-align: 20px;
}
h3
{
	color: #6e9086;
	font-family: Medium Italic;
	text-align: 20px;

}
.p
{
	color: #6e9086;
	font-family: Medium Italic;
	text-align: 20px;
}