body{
	background: #f9f3ec;

border-top:solid medium;
border-bottom:solid medium; 
border-width: 5px;
	
}
.list {
	display: flex;
	border-top: thick;
	direction: center;
}
li
{
 margin:20px;
padding: 20px;
	display: flex;
	font-family: Serif;
	direction: center;
	
}

h1{
	color: black;
	font-family: Medium Italic;
	text-align: center;
}
img{
	align-items: right;
border-image-width: 20px;
}
h3
{
	color: black;
	font-family: Medium Italic;
	direction: ltr;

}
p
{
	color: black;
	font-family: Medium Italic;
	direction: ltr;
}