 

body{
  background:rgb(241, 241, 247);
  
   }
.header{
   text-align: center;
 
    
  }
  .link{
    font-size: 44px;
    width: 700px;
  }
  .link1{

    font-size: 44px;
  }

 a {
  color: gray;

}
  
  .img{

  text-align: center;
  border: 1px solid rgb(13, 17, 17);
  width: 550px;
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
 }
 
.about{
}
 
.ptext{

  text-align: justify;
}
.ENJOY{
  
  height: 100px;
  width: 300%
}
h1{

  font-family: 'DM Serif Display', serif;
  color: blueviolet;
  font-size: 35px;
}
h2{
   font-family: inherit;
  padding-left: 417px;
  color: gray;}
h3{
  text-transform: uppercase;
  font-family: inherit;
  padding-left: 417px;
  color: gray;

}
p{
  padding-left: 435px;

}
p,li{
  font-size: 115%;
  color: rgb(112, 117, 110)

}

li{
  text-align: left;
  padding-left: 435px;
  height: 60px;

 }
.footer{
 
  text-align: center;
  text-decoration: underline;
  font-family: 'Times New Roman', Times, serif;
  font-size: 100%
  
  
}
 