/*------------Body------------*/

body {
    width: auto;
    height: auto;
    background-image: url("./images/3.jpg");
    background-color: rgba(255, 255, 255, 0.8);
    background-blend-mode: lighten;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*------------header------------*/

header {
    background: rgba(24, 24, 24, 0.5);
    width: 100%;
    height: 80%;
}

.menu {
    background: rgb(24, 24, 24);
    height: auto;
    opacity: 0.6;
    width: auto;
}

ul {
    list-style-type: none;
    overflow: hidden;
    display: inline-flex;
}

nav {
    list-style-type: none;
    padding: 10px;
    margin-left: 38%;
    overflow: hidden;
    display: inline-flex;
}

li {
    padding: 10px;
}

li a {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    padding: 8px;
}

a:hover {
    color: #df7599;
    width: auto;
    height: auto;
}

a:link {
    text-decoration: none;
}


/*------------main------------*/

main {
    width: 100%;
    height: fit-content;
}

.title {
    width: 92.5%;
    display: inline-flex;
    padding: 5px 50px 5px 50px;
}

.title h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 31px;
    width: 100%;
    color: #df7599;
    text-align: center;
}

hr {
    width: 1000px;
    height: 3px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #666;
}

.content {
    font-family: 'Lato', sans-serif;
    width: 94%;
    height: auto;
    display: inline-block;
    padding: 10px 50px 10px 50px;
}

.content h4 {
    font-size: 25px;
    width: auto;
    color: #666;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 0px;
}

.ex-content {
    display: flex;
}

.content .p {
    display: flex;
    justify-content: flex-start;
    font-family: serif;
    font-size: 19px;
    text-align: justify;
    align-items: center;
    width: auto;
    color: #666;
    margin-left: 10%;
    margin-right: 5%;
}

.content p {
    display: flex;
    justify-content: flex-start;
    font-family: serif;
    font-size: 19px;
    text-align: justify;
    align-items: center;
    width: auto;
    color: #666;
    margin-left: 10%;
    margin-right: 11%;
}

.content .kot {
    display: inline-flex;
    justify-content: flex-end;
    width: 250px;
    height: 250px;
    object-fit: fill;
    margin-right: 12%;
}

.content h5 {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    width: auto;
    margin-bottom: 0px;
    color: #666;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 3px;
}

.content h6 {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    width: auto;
    margin-bottom: 0px;
    color: #666;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 5px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block
}

.PortfolioUL {
    padding-left: 10%;
}

.PortfolioUL li {
    font-size: 17px;
    list-style-type: square;
    font-family: serif;
    text-align: justify;
    width: 100vw;
    color: #666;
    text-align: left;
    margin-left: 3%;
    margin-right: 25%;
}

.date {
    font-size: 14px;
}

.content .port-image {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 10%;
    margin-right: 11%;
}

.content .port-image .bw {
    width: 550px;
    height: 200px;
    object-fit: fill;
    padding-left: 10%;
    padding-right: 10%;
}

.content .port-image .logo {
    width: 300px;
    height: 300px;
    object-fit: fill;
    padding-left: 10%;
    padding-right: 10%;
}

.content .port-image .web {
    width: 600px;
    height: 500px;
    object-fit: fill;
    padding-left: 10%;
    padding-right: 10%;
}

.flex-div {
    display: flex;
    justify-content: space-around;
    margin-left: 8%;
    margin-right: 9%;
}

.art {
    display: flex;
    height: 400px;
    width: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.art p {
    font-family: 'Lato', sans-serif;
    font-size: 23px;
    width: auto;
    color: rgb(255, 255, 255);
}

.one {
    background-image: url('./images/art1.jpg');
}

.two {
    background-image: url('./images/art2.jpg');
}

.three {
    background-image: url('./images/art3.jpg');
}

.sm-p {
    display: flex;
    justify-content: center;
}

.sm-p p {
    display: flex;
    font-family: serif;
    font-size: 19px;
    color: #666;
}

.socialmedia {
    width: auto;
    display: block;
    padding: 15px 50px 15px 50px;
    margin-left: 9%;
    margin-right: 9%;
}

.icon-bar {
    margin-left: 41%;
    margin-right: 35%;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 100%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


/*------------footer------------*/

footer {
    background: rgba(223, 117, 153, 0.5);
    width: 100%;
    height: 97px;
    align-items: flex-end;
}

.cp-text {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 15px;
    width: 100%;
    text-align: center;
    padding-top: 40px;
    color: rgb(85, 84, 84);
    text-shadow: 0 1px rgba(255, 255, 255, 0.1);
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}