body {
  background-color: silver;
}

.header {
  text-align: center;
  font-size:
  color:
  font-family:
  background-color:#E0E0E0;
  text-decoration:
}

.main {
  
  height: 300px;
}

.bottom {
  width: 100%;
  height: 100%;
}

.main p {
  text-align: center;
  font-size:30px;
  color:
  font-family:
  background-color:#E0E0E0;
  text-decoration:
}

.main h2 {
  text-align: center;
}

.bottom {
  text-align: center;
  font-size:


}

.main img {

    width: 30%;
  }

  .header .nav {
  list-style: none;
  text-align: center;
  margin: 0;
  margin-right: 5%;
  padding: 0;
  width: 100%;
}

.header .nav li {

  display: inline;
  text-color: black;
}

.bottom .nav li {
display: inline;
}

.right {
  float: right;
}
